module.exports = {
    development: {
        backend: {
            URL: ''
        },
        rss: {
            TITLE: 'Feed title',
            FEED_URL: 'Feed url',
            CHANNEL_ID: 0
        }
    },
    production: {
        backend: {
            URL: ''
        },
        rss: {
            TITLE: 'Feed title',
            FEED_URL: 'Feed url',
            CHANNEL_ID: 0
        }
    }
}
